.card {
    position: relative;
    width: 100px;
    height: 100px;
    perspective: 1000px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* Flip container */

.card div {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.card > div.flipped  {
    transform: rotateY(180deg);
}

/* Front face (image side) */

.front {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Back face (hidden until flipped) */

.back {
    position: absolute;
    transform: none;
    backface-visibility: hidden;
}

.card { 
    border:1px solid black; 
    border-radius:10px; margin:10px; 
}
